<header>
    <h1>{{ title }}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/weather" target="_blank">API <img src="img/external-link-symbol.png" alt="external link icon"></a>
</header>

